@import '../../../sourses/styles/variables.scss';

.containerFilter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
  min-height: 60px;
  padding: 20px 40px;

  .sortBtn {
    margin-right: 25px;
    border: none;
    border-radius: 0;
    background-color: #b4b6b6;
  }
  .sortBtnActiv {
    margin-right: 25px;
    border: none;
    border-radius: 0;
    background-color: #1890ff;
  }
  .text {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #6c6c6c;
    margin-bottom: 0;
  }

  .search {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    margin-left: 350px;
  }
  .select {
    display: block;
    width: 220px;
    margin: 0 auto;
  }
}
