@import '../../sourses/styles/variables.scss';

.homePage {
  padding-top: 80px;

  .baner {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background-image: url('../../sourses/images/headerIMG/headerIMG.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .heroTitle {
      margin: 0 auto;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      color: white;
    }
  }
  .container {
    display: block;
    width: 100%;
    max-width: 1600px;
    padding: 40px 15px;
    margin: 0 auto;

    .title {
      display: block;
      margin: 0;
      font-size: 45px;
      font-weight: 700;
      line-height: 75px;
      text-align: center;
      color: #252932;
    }
    .subtitle {
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      color: #9fcb22;
    }
    .wripper {
      display: flex;
      justify-content: center;
      padding-top: 40px;
    }
  }
}
