@import '../../../sourses/styles/variables.scss';

.container {
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;

  .logoWripper {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 500px;
    margin: 0 auto;
    padding: 10px;

    .logoText {
      font-size: 40px;
      font-weight: 700;
      color: $brandColor;
      margin-bottom: 0;
      margin-left: 20px;
      text-shadow: 1px -1px 5px rgba(22, 44, 255, 0.67);
    }
  }
  .title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    border-radius: 7px;
    color: #191a1b;
  }
  .text {
    font-family: Barlow;
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    text-align: center;
    color: #9fcb22;
  }
}

@media screen and(min-width:768px) {
  .container {
    .logoWripper {
      margin-top: 20px;

      .logo {
        font-size: 40px;
      }
    }
    .title {
      font-size: 50px;
    }
    .text {
      font-size: 28px;
      line-height: 37px;
    }
  }
}
