@import '../../../sourses/styles/variables.scss';

.item {
  position: relative;
  margin: 5px 20px 5px 0;

  .link {
    letter-spacing: 1.9;
    font-size: 17px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    color: white;

    &:hover {
      color: $activeColor;
    }

    .cartLength {
      color: rgb(243, 243, 142);
      position: absolute;
      top: -21%;
      left: 104%;
    }
  }
  
}
