.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .title {
    display: block;
    margin: 20px 0;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    // color: $brandColor;
  }