@import '../../sourses/styles/variables.scss';

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 30;
  border-bottom: 2px solid white;
  background-color: $brandColor;
   
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;

    .wripperLogo {
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        margin: 0 20px 5px 10px;
        font-size: 25px;
        font-weight: 700;
        color: white;
      }
      &:hover {
        cursor: pointer;
      }
    }

    .navList {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      margin-bottom: 0;
      padding: 0 20px;

      .item {
        position: relative;
        margin: 5px 10px 5px 10px;
        padding: 5px;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          color: $activeColor;
          opacity: 0.75;
        }
        .link {
          letter-spacing: 1.9;
          font-size: 17px;
          font-weight: 700;
          line-height: 21px;
          text-transform: uppercase;
          color: white;

          .cartLength {
            position: absolute;
            top: -20%;
            left: 70%;
            font-size: 14px;
            color: rgb(243, 243, 142);
          }

          .icon {
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            &:hover {
              color: $activeColor;
            }
          }
        }

        .linkActive {
          padding: 5px;
          color: $activeColor;

          &::after {
            position: absolute;
            top: 100%;
            left: 0%;
            content: '';
            background-color: white;
            width: 100%;
            height: 2px;
          }
        }
      }
    }

    .wripperTel {
      display: flex;
      align-items: center;
      justify-content: left;

      .link {
        font-family: Barlow;
        font-size: 19px;
        font-weight: 600;
        color: white;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          color: $activeColor;
          opacity: 0.75;

          .iconTel {
            color: $activeColor;
            opacity: 0.75;
          }
        }
      }
      .iconTel {
        margin-right: 10px;
        color: #ffffff;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;

    &:focus {
      border: none;
      outline: none;
    }
  }
}
