.partners {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;

  .title {
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      max-width: 250px;
      max-height: 250px;
      margin-right: 10px;
    }
  }
}
